* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-container {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;
}

/* chat-sidebar */
.chat-sidebar {
  background-color: rgb(135 175 149);
  width: 30%;
  overflow-y: auto;
}

.user-list-header {
  background-color: #6dcf97;
  width: 100%;
  position: sticky;
  padding: 12px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 8px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.online,
.offline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 2px;
}

.online {
  background-color: rgb(32, 245, 12);
}

.offline {
  background-color: rgb(224, 29, 3);
}

.user-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-message-container {
  flex-grow: 1;
  margin-left: 10px;
}

.last-message {
  font-size: 14px;
  color: #555;
}

.time-and-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.time {
  font-size: 12px;
  color: #555;
}

.message-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24a900;
  color: white;
  border-radius: 50%;
}

/* chat-sidebar */

/* chat-body */
.chat-section {
  width: 70%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages-section {
  flex-grow: 1;
  padding: 20px;
  background-color: #dbdbdb;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-msg {
  max-width: 75%;
  padding: 15px 18px;
  margin: 5px;
  border-radius: 10px;
  text-align: justify;
  font-size: 16px;
  position: relative;
  word-break: break-word;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.msg-sent {
  align-self: flex-end;
  background-color: #eff5f2;
}

.msg-received {
  align-self: flex-start;
  background-color: #e3f0e8;
}

.message-actions {
  position: absolute;
  top: -4px;
  right: 8px;
  font-size: 20px;
  cursor: pointer;
}

.message-actions-btn {
  position: absolute;
  top: -20px;
  right: 8px;
  font-size: 20px;
  cursor: pointer;
  width: 120px;
}

.actions-btn {
  padding: 5px 12px;
}

.chat-msg-time {
  font-size: 12px;
  position: absolute;
  right: 5px;
  color: #888;
}

.chat-msg-seen {
  position: absolute;
  right: -8px;
  bottom: -13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-msg-seen .seen-icon {
  width: 16px;
  height: 16px;
  fill: #4fc3f7;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  background-color: #fff;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}

.chat-text-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.chat-text-input:focus {
  border-color: #4fc3f7;
}

.chat-send-button {
  border: 1px solid rgb(6, 209, 50);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.chat-send-button:hover {
  background-color: rgb(6, 209, 50);
  color: rgb(255, 255, 255);
}

/* chat-body */

/* logout btn */
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 30%;
}

.logout .logout-btn {
  border: 1px solid red;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.logout .logout-btn:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}

/* logout btn */

.footer {
  background-color: #24a900;
  width: 100%;
  height: 100vh;
}


  /*  */
 
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
 
  .modal-container {
    width: 600px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .update-input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
 
  .update-input-group input {
    width: 25rem;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 10px;
  }
 
  .update-input-group label {
    margin-top: 8px;
    font-size: 20px;
  }
 
  .button-group {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
  }
 
  .button-group button {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 14px;
    color: white;
  }
 
  .update-button {
    background-color: #297c08;
  }
 
  .update-button:hover {
    background-color: #123b02;
  }
 
  .cancel-button {
    background-color: rgb(240, 74, 74);
  }
 
  .cancel-button:hover {
    background-color: rgb(148, 8, 8);
  }